<h1>New message</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <% f.fields_for(:message) do |m| %>
       <%= render :partial => "form", :locals => { :f => m } %>
   <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', messages_path %>