.DS_Store
.gitignore
.idea/
.idea/**/*
.~lock*
config/database.yml
config/initializers/local_smtp_config.rb
db/*.sql
db/*.sqlite3
db/schema.rb
log/
log/**/*
nbproject/
nbproject/*
rerun.txt
sqlnet.log
tmp/**/*
